@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@500&family=Raleway:wght@100;300;500&family=Roboto+Condensed&display=swap');
* {
    list-style: none;
    box-sizing: border-box;
}
:root {
    --bg: #05051c;
    --can: #C8ACD6;
    --card-color: hsl(219, 32%, 12%);
    --gre: rgb(72, 255, 194);
}
html {
    scroll-behavior: smooth;
    scroll-padding: 7rem;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}
a {
    text-decoration: none;
    color: inherit;
}
header {
    position:fixed;
    width: 100%;
    height: 80px;
    background: transparent;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    z-index: 2;
    justify-content: space-between;
    padding: 0 50px;
}
.logo {
    font-size: 25px;
    font-weight: bold;
}
.hamburger {
    padding: 1px 5px;
    display: none;
    border: 2px solid #ffffff;
    border-radius: 7px;
}
.nav-bar ul {
    display: flex;
    font-family: 'Raleway', sans-serif;
}
.nav-bar ul li a {
    position: relative;
    font-size: 20px;
    margin: 10px 20px;
    padding: 10px 0px;
    padding-right: 16px;
    transition: 0.2s;
}
.nav-bar ul li a::after {
    content:"";
    background: var(--can);
    height: 3px;
    width: 0;
    position: absolute;
    left: 0;
    margin-top: 27px;
}
.nav-bar ul li a:hover::after {
    transition: 0.3s linear;
    width: 100%;
}
.me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}
.me h1 {
    font-size: 40px;
    padding: 0px 100px;
    padding-bottom: 0px;
    line-height: 60px;
}
#myname {
    color: var(--can);
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.me p {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    margin: 0 100px;
}
.me img {
    width: 40%;
    padding: 16px;
    overflow: hidden;
    border-radius: 50%;
    border: 6px solid rgba(255, 255, 255, 0.808);
    background: var(--card-color);
}
.about-content p {
    display: inline-block;
}
#india {
    width: 30px;
    margin-right: 15px;
    border-radius: 2px;
}
#base {
    display: flex;
    align-items: center;
}
#contact {
    display: flex;
}
.about-content p a i {
    padding: 0 20px;
    transition: all 0.2s ease-out;
}
.about-content p a i:hover {
    scale: 2.2;
}
.about h1,
.skills h1,
.projects h1,
.educa h1,
.contact h1 {
    font-weight: 500;
    color: var(--can);
}
.about,
.skills,
.projects,
.educa,
.contact {
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    margin: 50px 150px;
}
#resume {
    margin-top: 30px;
    background-color: var(--can);
    color: black;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}
.cards {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 29px;
    justify-content: center;
}
.edu-group {
    text-align: center;
    border-radius: 30px;
    padding: 40px;
    background: var(--card-color);
    backdrop-filter: blur(20px);
    width: 100%;
    margin: 30px;
    font-family: 'Poppins', sans-serif;
    min-height: max-content;
}
.edu-group h3,
.edu-group h4 {
    margin: 0;
}
.edu-group h3 {
    color: var(--can);
}
.cardskil {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 52px;
    grid-row-gap: 52px;
    place-items: center;
    margin: 20px;
}
#card-title {
    color: var(--can);
    font-size: 24px;
    margin-bottom: 0;
}
#lang { 
    background-color: #1d1b34b3;
    padding: 8px 10px;
    margin: 4px;
    font-size: 14px;
    border-radius: 6px;
}
.card {
    text-align: center;
    border-radius: 30px;
    width: 100%;
    padding: 40px;
    background: var(--card-color);
    backdrop-filter: blur(20px);
    position: relative;
    transition: all .3s ease-in-out;
    overflow: hidden;
}
/* .card:hover {
    transform: scale(1.1);
    transition: all .6s ease-in-out;
} */
.skill {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.skill-wrapper {
    display: inline-flex;
}
.skills-group {
    margin: 0 28px;
}
.skill-content {
    margin: 8px;
}
.skill-content h3,
.skill-content p {
    margin: 10px;
}
.techs {
    display: flex; flex-direction: column; flex-wrap: wrap;
}
.card_ed {
    margin-right: 40px;
    width: 350px;
    height: 250px;
    background-color: #000;
    display: flex;
    position: relative;
    box-shadow: 0px 0px 5px 2px #000;
    cursor: pointer;
    transition: all 0.5s ease-out;
    overflow: hidden;
}
.card_ed:hover {
    filter: brightness(2.6);
    width: 395px;
    height: 280px;
}
.card_ed > p:hover {
    height: 282px;
    width: 393px; 
    transition: all 0.5s ease-out; 
}
.card_ed::before {
    content: '';
    position: absolute;
    margin-right: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-60%,-60%) rotate(150deg);
    width: 200%;
    height: 147%;
    background-image: conic-gradient(#00ff91 0deg, #000 90deg,
    transparent 0deg, transparent 180deg, #00ff91 100deg, #000 270deg);
    transition: transform 2s;
}
.card_ed:hover::before {
    transform: translate(-60%,-60%) rotate(80deg);
}
.card_ed > p {
    margin-right: 40px;
    flex-direction: column;
    color: #ddd;
    position: absolute;
    background-color: #000;
    display:flex;
    font-size: 17px;
    align-items: center;
    justify-content: center;
    height: 252px;
    transition: all 0.5s ease-in;
    width: 346px;
    left: 50%;
    text-align: center;
    font-size: 17px;
    top: 43%;
    transform: translate(-50%,-50%);
}
.card_ed > p > span {
    padding: 10px;
    line-height: 25px;
    color: #8d8d8d;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

@media (max-width: 1370px) {
    .card_ed,
    .mypro {
        margin-top: 50px;
        margin-left: 50px;
    }
    .cards {
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 1400px) {
    .card {
        margin-top: 50px;
        margin-left: 50px;
    }
}
@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;

    }
}
@media only screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
        
    }
}
@media only screen and (max-width: 1260px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
    }
    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #11101b;
        transition: 0.5s;
        overflow: hidden;
    }
    .nav-bar.active {
        height: 600px;
    }
    .nav-bar ul {
        display: block;
        height: auto;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul{
        opacity: 1;
    }
    .nav-bar ul li {
        margin-bottom: 26px;
        padding-bottom: 23px;
        border-bottom: 1px groove rgba(99, 99, 99, 0.651);
    }
    .card > p {
        filter: brightness(3.6);
    }
    .card_ed > p {
        filter: brightness(1.9);
    }
}
@media only screen and (max-width: 950px) {
    .me {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px;
    }
    .me img {
        border: 1px solid rgba(255, 255, 255, 0.808);
        width: 80%;
    }
    .me h1 {
        font-size: 33px;
        padding: 70px;
        padding-bottom: 0px;
        line-height: 40px;
    }
    .me span {
        font-size: 20px;
        width: 20rem;
    }
    .me div {
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width: 835px) {
    .cardskil {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
        grid-row-gap: 19px;
        place-items: center;
    }
}
@media only screen and (max-width: 1127px) {
    .image {
        display: none;
    }

    .content {
        height: auto;
        width: 200%;
    }
}
@media only screen and  (max-width: 515px) {
    .pro-btns {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .content a {
        text-align: center;
    }
}
::-webkit-scrollbar {
    width: 9px;
}
::-webkit-scrollbar-track {
    background: black;
}
::-webkit-scrollbar-thumb {
    background: var(--can);
    border-radius: 10px;
}

footer {
    background: rgba(27, 27, 41, 0.825);
    height: 15rem;
    padding-top: 5rem;
}
footer p {
    font-size: 1.2em;
}
footer #aut {
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 0px 15px;
}
footer #year {
    padding-right: 15px;
}
.project-details {
    position: relative;
    margin-top: 50px;
}
.project-details h3 {
    position: relative;
    width: auto;
    cursor: pointer;
    margin-right: 100px;
}
.tic p {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    line-height: 30px;
}
.project-details h3::after {
    content:"";
    background: var(--can);
    height: 3px;
    width: 23%;
    position: absolute;
    left: 0;
    margin-top: 27px;
}
.project-details h3:hover::after {
    transition: 0.5s linear;
    width: 70%;
}
.titles {
    display: flex;
    flex-direction: row;
    
}
.content a {
    background-color: white;
    color: #000;
    font-weight: 800;
    padding: 10px;
    border-radius: 10px;
    margin-right: 20px;
}
.content a:hover {
    background-color: var(--can);
    color: white;
    transition: 0.5s ease-in-out;
}
.content p {
    padding-bottom: 20px;
}
#image {
    box-shadow: 0px 0px 5px 10px rgb(26, 26, 35);
}
.contact-wrapper {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
}
.contact-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contact-card {
    text-align: center;
    border-radius: 10px;
    width: 100%;
    padding: 15px 40px;
    background: var(--card-color);
    backdrop-filter: blur(20px);
    margin: 10px;
}
.contact-group a {
    color: var(--can);
}
.contact-left {
    margin: 20px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
}
.contact-left label {
    display: none;
}
.contact-left input,
textarea {
    background: transparent;
    color: white;
    border: 2px solid grey;
    margin: 0 10px;
    border-radius: 10px;
    padding: 10px;
    width: 28rem;
    height: 72px;
    font-size: 15px;
}
.contact-left button {
    background: var(--can);
    padding: 16px 40px;
    font-size: large;
    border-radius: 10px;
    margin: 0 10px;
}
textarea {
    resize: none;
    height: 280px;
}